### ANDROID CONFIG ###
ANDROID_PACKAGE_ID='ninja.gab.rnStarter'
ANDROID_JSON_KEY='google-credential-key.json'

### APP CENTER ###
APPCENTER_API_TOKEN=''
APPCENTER_OWNER_TYPE='' ## user or organization
APPCENTER_OWNER_NAME='' ## URL of the account in App Center
APPCENTER_APP_NAME='' ## URL of the app in App Center
APPCENTER_DISTRIBUTE_FILE='app/build/outputs/apk/staging/release/app-staging-release.apk' ## Path of the apk to upload

### PLAY CONSOLE ###
AAB_PATH='app/build/outputs/bundle/productionRelease/app-production-release.aab' ## Path of the aab to upload